<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script type="text/javascript">
	var chart = {
		width:400,
		height:400
	}

	$(function(){
		$.getJSON("/api/sensorreadings", function(data) {
			//$(".text").text(JSON.stringify(data));
			drawChart(data);
		});
	});

	function convertData(data) {
		var chartData = {};
		var humidities = [];
		var temps = [];
		var dataPoints = [];

		for(i=0;i<data.length;i++) {
			var dateOfReading = new Date(data[i].dateofreading);
			console.log(dateOfReading);
			dataPoints.push( (dateOfReading.getMonth()+1) + "/" + dateOfReading.getDate() );
			temps.push(data[i].temp);
			humidities.push(data[i].humidity);
		}

		chartData.dataPoints = dataPoints;
		chartData.temps = temps;
		chartData.humidities = humidities;

		return chartData;
	}

	function setChartArea() {
		$("#myChart").width($(document).width()-40);
		$("#myChart").height($(document).height()-40);
	}

	function drawChart(data) {
		//set the chart width and height
		//setChartArea();

		var chartData = convertData(data);

		var data = {
		    labels: chartData.dataPoints,
		    datasets: [
		        {
		            label: "Temperature",
		            fillColor: "rgba(220,220,220,0.2)",
		            strokeColor: "rgba(220,220,220,1)",
		            pointColor: "rgba(220,220,220,1)",
		            pointStrokeColor: "#fff",
		            pointHighlightFill: "#fff",
		            pointHighlightStroke: "rgba(220,220,220,1)",
		            data: chartData.temps
		        },
		        {
		            label: "Humidity",
		            fillColor: "rgba(151,187,205,0.2)",
		            strokeColor: "rgba(151,187,205,1)",
		            pointColor: "rgba(151,187,205,1)",
		            pointStrokeColor: "#fff",
		            pointHighlightFill: "#fff",
		            pointHighlightStroke: "rgba(151,187,205,1)",
		            data: chartData.humidities
		        }
		    ]
		};	

		var options = {
			multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>"
		};


		// Get context with jQuery - using jQuery's .get() method.
		var ctx = $("#myChart").get(0).getContext("2d");
		// This will get the first returned node in the jQuery collection.
		var myLineChart = new Chart(ctx).Line(data, options);
	}
</script>
<style type="text/css">
	body {
		font:12pt Arial, Verdana, sans-serif;
		color:gray;
		margin:5%;
	}

	h1 {
		text-align: center;
	}

	#myChart {
		width:90%;
		height:90%;
	}
</style>
<body>
	<h1>Scott Gale's Homelytics</h1>
	<h2>Wine Cellar Temperature</h2>
<canvas id="myChart"></canvas>
</body>
</html>